#img_content{
    height: 13vh;
    width: 10vw;
    background-color: black;
    margin-top: 1vh;
    margin-left: 2px;
    border-radius: 8px;
}
#user_item_container{
    width: 100%;
}


#user_item{
    
    display: flex;
    flex-direction: row;
    max-height: 18vh;
    height: auto;
    padding: 1px;
    background-color: rgba(248,148,0,0.4);
}

#user_item_label{
    margin-left: 1vw;
    margin-top: 0vh;
}

#interaction_icon_container{
    margin-top: 13vh;
    margin-left: 14%;
}