#img_content{
    height: 15vh;
    width: 15vw;
    background-color: black;
    margin-top: 2px;
    margin-left: 2px;
}
#user_item_container{
    width: 100%;
}


#user_item{
    margin-left: 2px;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    max-height: 18vh;
    height: auto;
    padding: 1px;
    background-color: rgb(252, 155, 86);
}

#user_item_label{
    margin-left: 1vw;
    margin-top: 0vh;
}

#interaction_icon_container{
    margin-top: 13vh;
}