#dashboard_page{
    background-color: rgb(236, 199, 95);
    height: 100vh;
    overflow-y: hidden;
}

#logo_container_nav{
    padding-top: 15px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
}

#location_button{
    width: 10vw;
    height: 5vh;
}

#content_screen{
    display: flex;
    flex-direction: row;
    margin-top: 8vh;
    height: 100vh;
}

#item_list{
    border: 2px solid black;
    width: 70%;
    overflow-y: scroll;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#user_item_list{
    border: 2px solid red;
    width: 30%;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}

#list_header{
    height: 10vh;
    text-align: center;
    vertical-align: middle;
    border-bottom: 2px solid black;
}