#dashboard_page{
    background-color: rgb(236, 199, 95);
    height: 100vh;
    overflow-y: hidden;
}

#logo_container_nav{
    padding-top: 15px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
}

#location_button{
    width: auto;
    padding-right: 10px;
    height: 5vh;
    border:none;
    background-color: rgb(214,40,139);
    border-radius: 12px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    flex-direction: row;
}
#logout_button{
    width: 10vw;
    padding-right: 10px;
    height: 5vh;
    border:none;
    background-color: rgb(214,40,139);
    border-radius: 12px;
    color: white;
    font-weight: 500;
    font-size: 18px;
}
#location_label{
    margin-left: 1vw;
}
#content_screen{
    display: flex;
    flex-direction: row;
    margin-top: 4vh;
    height: 100vh;
}

#item_list{
    width: 70%;
    overflow-y: scroll;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#message_button{
    border:none;
    background-color: rgb(214,40,139);
    border-radius: 12px;
    height: 5vh;
    width: 3vw;
    padding: 1px;
}

#user_item_list{
    width: 30%;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    background-color: rgb(243, 220, 170);
}

#list_header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vh;
    height: 8vh;
    color: rgb(214,40,139);
    font-size: 24px;
    text-align: center;
    border-bottom: 0.5px solid rgba(0,0,0,0.5);
}