#login_page{
    background-image: url('../../assets/LoginPageBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#logo_container_right{
    margin-left: 90vw;
    padding-top: 10px;
}

#login_page_content{
    max-width: 20vw;
    margin-left: 70%;
    margin-top: 8%;

}

#login_page_form{
    text-align: center;
    display: flex;
    flex-direction: column;
}