.background-blur{
    position: absolute;;
    background-color: #000000;
    height: 100vh;
    z-index:500;
    width: 100%;
    top:0;
    left:0;
    opacity:0.2;
}

.add_item_modal{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow-y: hidden;
    z-index: 999;
    transform: translate(-50%, -50%);
    width:40%;
    border-radius: 20px;
    text-align: center;
    background-color: white;
    height: 80vh;
    width: 80vw;
}

#add_item_close{
    margin-left: 90%;
    margin-top: -30vh;
    margin-right: 2vw;
    cursor: pointer;
}

#image_content{
    height: 35vh;
    width: 20vw;
    margin-left: 5vw;
    margin-top: 10vh;
    background-color: black;
    border-radius: 10px;
}

#add_content{
    display: flex;
    flex-direction: row;
}

#add_item_input{
    margin-left: 5vw;
}

#add_item_description{
    height: 40vh;
    width: 45vw;
    resize: none;
    border-radius: 10px;
    font-size: x-large;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    background-color: rgb(242,242,242);
    color: rgb(248,148,0);
}


#add_button{
    margin-left: 80%;
}